{% extends '@bolt/_partials/fields/_base.html.twig' %}


{% block field %}

    <span class="example-field">
        This is the example field. Fork it, and create your own!
    </span>

    <textarea type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}"></textarea>

    <p>It even has some configuration. See the JSON here, or check the output in the Debug toolbar</p>

    <pre>{{ example_field_settings }}</pre>

    {{ dump(example-field-config) }}

{% endblock %}
